.hidden {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100vw;
  height: 100vh;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100vw;
  }

  .column-half {
    width: 50%;
    height: 85%;
  }

  .golos {
    margin-top: -3rem;
  }

  .nav-container {
    padding-left: 15%;
  }

  .text-container {
    margin-top: 15%;
    width: 68%;
    height: 100%;
  }

  .card-image {
    margin-top: 12%;
    margin-left: 25%;
  }
}
